@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Playfair+Display&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Mochiy Pop P One', sans-serif;
  
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(36, 25, 25);
}

ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

ul li {
  position: relative;
  list-style: none;

}

ul li a {
  font-size: 2em; 
  text-decoration:none ;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: red;
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 10px rgba(251, 232, 232, 0.5);
  -webkit-text-stroke: 3px rgb(255, 231, 231);
}

ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px red);
}